*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f9eeee;
font-family:Poppins,sans-serif;

}

.product{

width:95%;
max-width:1400px;
margin:60px auto;

}

.product-container{

background:white;

border-radius:20px;

padding:45px;

display:flex;

gap:60px;

align-items:flex-start;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.image img{

width:380px;

border-radius:15px;

transition:.4s;

cursor:pointer;

}

.image img:hover{

transform:scale(1.05);

}

.details{

flex:1;

}

.details h1{

font-size:48px;

font-family:'Cormorant Garamond',serif;

margin-bottom:20px;

}

.description{

font-size:24px;

line-height:1.8;

margin-bottom:35px;

color:#333;

}

.price{

margin-bottom:20px;

}

.new-price{

font-size:42px;

color:#ff2b2b;

font-weight:600;

}

.old-price{

margin-left:15px;

text-decoration:line-through;

color:gray;

}

.save{

margin-left:10px;

color:#555;

}

.rating{

margin:25px 0;

font-size:28px;

color:gold;

}

.rating span{

color:#111;

font-size:20px;

margin-left:10px;

}

.stock{

font-size:18px;

color:green;

margin-bottom:12px;

}

.shipping{

font-size:18px;

margin-bottom:35px;

}

.buttons{

display:flex;

gap:20px;

flex-wrap:wrap;

}

button{

padding:15px 35px;

font-size:17px;

border:none;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

.cart{

background:#111;

color:white;

}

.cart:hover{

background:#333;

}

.buy{

background:#ff9eb5;

color:white;

}

.buy:hover{

background:#ff7fa0;

}

.wish{

background:white;

border:2px solid #ff7fa0;

color:#ff4f81;

}

.wish:hover{

background:#ff4f81;

color:white;

}

@media(max-width:900px){

.product-container{

flex-direction:column;

align-items:center;

}

.image img{

width:100%;

max-width:400px;

}

.details{

text-align:center;

}

.buttons{

justify-content:center;

}

}